<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="shortcut icon"
            type="image/png"
            href="/images/icon.png"
        />
        <meta name="author" content="wpoceans" />
        <title>Khairah - Charity Nonprofit HTML 5 Template</title>
        <link href="/css/themify-icons.css" rel="stylesheet" />
        <link href="/css/font-awesome.min.css" rel="stylesheet" />
        <link href="/css/flaticon.css" rel="stylesheet" />
        <link href="/css/odometer-theme-default.css" rel="stylesheet" />
        <link href="/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/css/animate.css" rel="stylesheet" />
        <link href="/css/owl.carousel.css" rel="stylesheet" />
        <link href="/css/owl.theme.css" rel="stylesheet" />
        <link href="/css/slick.css" rel="stylesheet" />
        <link href="/css/slick-theme.css" rel="stylesheet" />
        <link href="/css/swiper.min.css" rel="stylesheet" />
        <link href="/css/owl.transitions.css" rel="stylesheet" />
        <link href="/css/jquery.fancybox.css" rel="stylesheet" />
        <link href="/css/style.css" rel="stylesheet" />
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style type="text/css">
            .fancybox-margin {
                margin-right: 17px;
            }
        </style>
    </head>

    <body cz-shortcut-listen="true">
        <!-- start page-wrapper -->
        <div class="page-wrapper">
            <!-- start of hero -->
            <%- include('components/header')%>
            <section class="hero-slider hero-style-1">
                <div class="swiper-container swiper-container-horizontal" dir="ltr">
                    <div class="swiper-wrapper" style="transform: translate3d(-3987px, 0px, 0px); transition-duration: 0ms;">
                        <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="2" style="width: 1329px; transition: all 0ms ease 0s">
                            <div class="slide-inner slide-bg-image" data-background="/images/slider/slide-3.jpg" style="transform: translate3d(1993.5px, 0px, 0px); transition: all 0ms ease 0s; background-image: url('/images/slider/slide-3.jpg');">
                                <div class="overlay">
                                    <div class="container">
                                        <div
                                            data-swiper-parallax="200"
                                            class="slide-thumb"
                                            style="
                                                transform: translate3d(
                                                    200px,
                                                    0px,
                                                    0px
                                                );
                                                transition-duration: 0ms;
                                            "
                                        >
                                            <span>اطلب المساعدة</span>
                                        </div>
                                        <div
                                            data-swiper-parallax="300"
                                            class="slide-title"
                                            style="
                                                transform: translate3d(
                                                    300px,
                                                    0px,
                                                    0px
                                                );
                                                transition-duration: 0ms;
                                            "
                                        >
                                            <h2>جمعيه خيريه لمساعده مرضي السرطان</h2>
                                        </div>
                                        <div
                                            data-swiper-parallax="400"
                                            class="slide-text"
                                            style="
                                                transform: translate3d(
                                                    400px,
                                                    0px,
                                                    0px
                                                );
                                                transition-duration: 0ms;
                                            "
                                        >
                                            <p>
                                                هناك حقيقة مثبتة منذ زمن طويل وهي أن
                                                القارئ سيلهي المحتوى المقروء لصفحة
                                                ما عند النظر إلى نقطة تصميمه
                                                باستخدام الحروف ، بدلاً من ذلك.
                                            </p>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div
                                            data-swiper-parallax="500"
                                            class="slide-btns"
                                            style="
                                                transform: translate3d(
                                                    500px,
                                                    0px,
                                                    0px
                                                );
                                                transition-duration: 0ms;
                                            "
                                        >
                                            <a href="/donate" class="theme-btn"
                                                >تبرع الآن<i
                                                    class="fa fa-angle-double-right"
                                                    aria-hidden="true"
                                                ></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="slide-shape">
                                        <img
                                            src="/images/shape/shape.png"
                                            alt=""
                                        />
                                    </div>
                                </div>
                            </div>
                            <!-- end slide-inner -->
                        </div>
                        <div
                            class="swiper-slide swiper-slide-duplicate-next"
                            data-swiper-slide-index="0"
                            style="width: 1329px; transition: all 0ms ease 0s"
                        >
                            <div
                                class="slide-inner slide-bg-image"
                                data-background="/images/slider/slide-1.jpg"
                                style="
                                    transform: translate3d(1329px, 0px, 0px);
                                    transition: all 0ms ease 0s;
                                    background-image: url('/images/slider/slide-1.jpg');
                                "
                            >
                            <div class="overlay">
                                <div class="container">
                                    <div
                                        data-swiper-parallax="200"
                                        class="slide-thumb"
                                        style="
                                            transform: translate3d(
                                                200px,
                                                0px,
                                                0px
                                            );
                                            transition-duration: 0ms;
                                        "
                                    >
                                        <span>اطلب المساعدة</span>
                                    </div>
                                    <div
                                        data-swiper-parallax="300"
                                        class="slide-title"
                                        style="
                                            transform: translate3d(
                                                300px,
                                                0px,
                                                0px
                                            );
                                            transition-duration: 0ms;
                                        "
                                    >
                                        <h2>جمعيه خيريه لمساعده مرضي السرطان</h2>
                                    </div>
                                    <div
                                        data-swiper-parallax="400"
                                        class="slide-text"
                                        style="
                                            transform: translate3d(
                                                400px,
                                                0px,
                                                0px
                                            );
                                            transition-duration: 0ms;
                                        "
                                    >
                                        <p>
                                            هناك حقيقة مثبتة منذ زمن طويل وهي أن
                                            القارئ سيلهي المحتوى المقروء لصفحة
                                            ما عند النظر إلى نقطة تصميمه
                                            باستخدام الحروف ، بدلاً من ذلك.
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div
                                        data-swiper-parallax="500"
                                        class="slide-btns"
                                        style="
                                            transform: translate3d(
                                                500px,
                                                0px,
                                                0px
                                            );
                                            transition-duration: 0ms;
                                        "
                                    >
                                        <a href="/donate" class="theme-btn"
                                            >تبرع الآن<i
                                                class="fa fa-angle-double-right"
                                                aria-hidden="true"
                                            ></i
                                        ></a>
                                    </div>
                                </div>
                                <div class="slide-shape">
                                    <img
                                        src="/images/shape/shape.png"
                                        alt=""
                                    />
                                </div>

                            </div>
                            </div>
                            <!-- end slide-inner -->
                        </div>
                        <!-- end swiper-slide -->
                        <div
                            class="swiper-slide swiper-slide-prev"
                            data-swiper-slide-index="1"
                            style="width: 1329px; transition: all 0ms ease 0s"
                        >
                            <div
                                class="slide-inner slide-bg-image"
                                data-background="/images/slider/slide-2.jpg"
                                style="
                                    transform: translate3d(664.5px, 0px, 0px);
                                    transition: all 0ms ease 0s;
                                    background-image: url('/images/slider/slide-2.jpg');
                                "
                            >
                            <div class="overlay">

                                <div class="container">
                                    <div
                                        data-swiper-parallax="200"
                                        class="slide-thumb"
                                        style="
                                            transform: translate3d(
                                                200px,
                                                0px,
                                                0px
                                            );
                                            transition-duration: 0ms;
                                        "
                                    >
                                        <span>اطلب المساعدة</span>
                                    </div>
                                    <div
                                        data-swiper-parallax="300"
                                        class="slide-title"
                                        style="
                                            transform: translate3d(
                                                300px,
                                                0px,
                                                0px
                                            );
                                            transition-duration: 0ms;
                                        "
                                    >
                                        <h2>انهم يستحقون حياه افضل.</h2>
                                    </div>
                                    <div
                                        data-swiper-parallax="400"
                                        class="slide-text"
                                        style="
                                            transform: translate3d(
                                                400px,
                                                0px,
                                                0px
                                            );
                                            transition-duration: 0ms;
                                        "
                                    >
                                        <p>
                                            هناك حقيقة مثبتة منذ زمن طويل وهي أن
                                            القارئ سيلهي المحتوى المقروء لصفحة
                                            ما عند النظر إلى نقطة تصميمه
                                            باستخدام الحروف ، بدلاً من ذلك.
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div
                                        data-swiper-parallax="500"
                                        class="slide-btns"
                                        style="
                                            transform: translate3d(
                                                500px,
                                                0px,
                                                0px
                                            );
                                            transition-duration: 0ms;
                                        "
                                    >
                                        <a href="/donate" class="theme-btn"
                                            >تبرع الآن<i
                                                class="fa fa-angle-double-right"
                                                aria-hidden="true"
                                            ></i
                                        ></a>
                                    </div>
                                </div>
                                <div class="slide-shape">
                                    <img
                                        src="/images/shape/shape.png"
                                        alt=""
                                    />
                                </div>
                            </div>
                            </div>
                            <!-- end slide-inner -->
                        </div>
                        <!-- end swiper-slide -->
                        <div
                            class="swiper-slide swiper-slide-active"
                            data-swiper-slide-index="2"
                            style="width: 1329px; transition: all 0ms ease 0s"
                        >
                            <div
                                class="slide-inner slide-bg-image"
                                data-background="/images/slider/slide-3.jpg"
                                style="
                                    transform: translate3d(0px, 0px, 0px);
                                    transition: all 0ms ease 0s;
                                    background-image: url('/images/slider/slide-3.jpg');
                                "
                            >
                            <div class="overlay">

                                <div class="container">
                                    <div
                                        data-swiper-parallax="200"
                                        class="slide-thumb"
                                        style="
                                            transform: translate3d(
                                                0px,
                                                0px,
                                                0px
                                            );
                                            transition-duration: 0ms;
                                        "
                                    >
                                        <span>اطلب المساعدة</span>
                                    </div>
                                    <div
                                        data-swiper-parallax="300"
                                        class="slide-title"
                                        style="
                                            transform: translate3d(
                                                0px,
                                                0px,
                                                0px
                                            );
                                            transition-duration: 0ms;
                                        "
                                    >
                                        <h2>بامكانك مساعدتهم الان.</h2>
                                    </div>
                                    <div
                                        data-swiper-parallax="400"
                                        class="slide-text"
                                        style="
                                            transform: translate3d(
                                                0px,
                                                0px,
                                                0px
                                            );
                                            transition-duration: 0ms;
                                        "
                                    >
                                        <p>
                                            هناك حقيقة مثبتة منذ زمن طويل وهي أن
                                            القارئ سيلهي المحتوى المقروء لصفحة
                                            ما عند النظر إلى نقطة تصميمه
                                            باستخدام الحروف ، بدلاً من ذلك.
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div
                                        data-swiper-parallax="500"
                                        class="slide-btns"
                                        style="
                                            transform: translate3d(
                                                0px,
                                                0px,
                                                0px
                                            );
                                            transition-duration: 0ms;
                                        "
                                    >
                                        <a href="#" class="theme-btn"
                                            >تبرع الآن<i
                                                class="fa fa-angle-double-right"
                                                aria-hidden="true"
                                            ></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="slide-shape">
                                    <img
                                        src="/images/shape/shape.png"
                                        alt=""
                                    />
                                </div>
                            </div>
                            </div>
                            <!-- end slide-inner -->
                        </div>
                        <!-- end swiper-slide -->
                        <div
                            class="
                                swiper-slide
                                swiper-slide-duplicate
                                swiper-slide-next
                            "
                            data-swiper-slide-index="0"
                            style="width: 1329px; transition: all 0ms ease 0s"
                        >
                            <div
                                class="slide-inner slide-bg-image"
                                data-background="/images/slider/slide-1.jpg"
                                style="
                                    transform: translate3d(-664.5px, 0px, 0px);
                                    transition: all 0ms ease 0s;
                                    background-image: url('/images/slider/slide-1.jpg');
                                "
                            >
                            <div class="overlay">

                                <div class="container">
                                    <div
                                        data-swiper-parallax="200"
                                        class="slide-thumb"
                                        style="
                                            transform: translate3d(
                                                -200px,
                                                0px,
                                                0px
                                            );
                                            transition-duration: 0ms;
                                        "
                                    >
                                        <span>اطلب المساعدة</span>
                                    </div>
                                    <div
                                        data-swiper-parallax="300"
                                        class="slide-title"
                                        style="
                                            transform: translate3d(
                                                -300px,
                                                0px,
                                                0px
                                            );
                                            transition-duration: 0ms;
                                        "
                                    >
                                        <h2>إنهم ينتظرون بعض الطعام.</h2>
                                    </div>
                                    <div
                                        data-swiper-parallax="400"
                                        class="slide-text"
                                        style="
                                            transform: translate3d(
                                                -400px,
                                                0px,
                                                0px
                                            );
                                            transition-duration: 0ms;
                                        "
                                    >
                                        <p>
                                            هناك حقيقة مثبتة منذ زمن طويل وهي أن
                                            القارئ سيلهي المحتوى المقروء لصفحة
                                            ما عند النظر إلى نقطة تصميمه
                                            باستخدام الحروف ، بدلاً من ذلك.
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div
                                        data-swiper-parallax="500"
                                        class="slide-btns"
                                        style="
                                            transform: translate3d(
                                                -500px,
                                                0px,
                                                0px
                                            );
                                            transition-duration: 0ms;
                                        "
                                    >
                                        <a href="#" class="theme-btn"
                                            >تبرع الآن<i
                                                class="fa fa-angle-double-right"
                                                aria-hidden="true"
                                            ></i
                                        ></a>
                                    </div>
                                </div>
                                <div class="slide-shape">
                                    <img
                                        src="/images/shape/shape.png"
                                        alt=""
                                    />
                                </div>
                            </div>
                            </div>
                            <!-- end slide-inner -->
                        </div>
                    </div>
                    <!-- end swiper-wrapper -->
                    <!-- swipper controls -->
                    <div
                        class="
                            swiper-pagination
                            swiper-pagination-clickable
                            swiper-pagination-bullets
                        "
                    >
                        <span class="swiper-pagination-bullet"></span
                        ><span class="swiper-pagination-bullet"></span
                        ><span
                            class="
                                swiper-pagination-bullet
                                swiper-pagination-bullet-active
                            "
                        ></span>
                    </div>
                </div>
            </section>
            <!-- end of hero slider -->
            <!-- about-area start -->
            <div class="about-area">
                <div class="container">
                    <div class="row">
                        <div
                            class="
                                col-md-5 col-sm-12 col-md-offset-1
                                grid
                                col-12
                            "
                        >
                            <div class="about-cercle">
                                <div class="about-img">
                                    <img
                                        src="/images/about/img-1.jpg"
                                        alt=""
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 grid col-sm-12 col-12">
                            <div class="about-text">
                                <div class="section-title">
                                    <div class="thumb-text">
                                        <span>معلومات عنا</span>
                                    </div>
                                    <h2>
                                        جمعيتنا <span>منظمة</span> غير ربحية
                                        <span>للمساعدة</span> مرضي السرطان.
                                    </h2>
                                </div>
                                <p>
                                    هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى
                                    المقروء خارج الصفحة سيلهي القارئ عن التركيز
                                    على نقطة التصميم الخاصة به باستخدام لوريم
                                    إيبسوم وهي أنه يحتوي على.
                                </p>
                                <div class="ab-icon-area">
                                    <div class="about-icon-wrap">
                                        <div class="about-icon-item">
                                            <div class="ab-icon">
                                                <img
                                                    draggable="false"
                                                    src="/images/about/1.png"
                                                    alt=""
                                                />
                                            </div>
                                            <div class="ab-text">
                                                <h2>
                                                    مساعده <br />الأطفال.
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="about-icon-item">
                                            <div class="ab-icon ab-icon2">
                                                <img
                                                    draggable="false"
                                                    src="/images/about/2.png"
                                                    alt=""
                                                />
                                            </div>
                                            <div class="ab-text">
                                                <h2>
                                                    حفظ حقوقهم و <br />
                                                        الاهتمام بهم.
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ab-shape">
                    <img src="/images/shape/shape2.png" alt="" />
                </div>
            </div>
            <!-- about-area end -->
            <!-- features-area start -->
            <div class="features-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="features-text">
                                <div class="section-title">
                                    <div class="thumb-text">
                                        <span>المميزات</span>
                                    </div>
                                </div>
                                <h2>
                                    تبدأ الرحلة العظيمة لإنهاء الفقر من أجل
                                    الخير بالطفل.
                                </h2>
                                <p>
                                    هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى
                                    المقروء خارج الصفحة يصرف انتباه القارئ إلى
                                    نقطة التصميم الموجودة فيه.
                                </p>
                                <a href="/donate" class="theme-btn"
                                    >تبرع الآن<i
                                        class="fa fa-angle-double-right"
                                        aria-hidden="true"
                                    ></i
                                ></a>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="features-wrap">
                                <div class="row">
                                    <div
                                        class="
                                            col-lg-6 col-md-6 col-sm-6 col-12
                                        "
                                    >
                                        <div class="features-item">
                                            <div class="features-icon">
                                                <img
                                                    draggable="false"
                                                    src="/images/features/img-1.png"
                                                    alt=""
                                                />
                                            </div>
                                            <div class="features-content">
                                                <h2>
                                                    معالجة السرطان
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="
                                            col-lg-6 col-md-6 col-sm-6 col-12
                                        "
                                    >
                                        <div class="features-item-2">
                                            <div class="features-icon">
                                                <img
                                                    draggable="false"
                                                    src="/images/features/img-2.png"
                                                    alt=""
                                                />
                                            </div>
                                            <div class="features-content">
                                                <h2>
                                                    بناء مستشفى
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="
                                            col-lg-6 col-md-6 col-sm-6 col-12
                                        "
                                    >
                                        <div class="features-item-2 active">
                                            <div class="features-icon">
                                                <img
                                                    draggable="false"
                                                    src="/images/features/img-3.png"
                                                    alt=""
                                                />
                                            </div>
                                            <div class="features-content">
                                                <h2>
                                                    التعاون للقضاء ع المرض
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="
                                            col-lg-6 col-md-6 col-sm-6 col-12
                                        "
                                    >
                                        <div class="features-item">
                                            <div class="features-icon">
                                                <img
                                                    draggable="false"
                                                    src="/images/features/img-4.png"
                                                    alt=""
                                                />
                                            </div>
                                            <div class="features-content">
                                                <h2>
                                                    الغذاء وبناء المنزل
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- features-area end -->
            <!-- case-area-start -->
            <div class="case-area section-padding">
                <div class="container">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="section-title section-title2 text-center">
                            <div class="thumb-text">
                                <span>الأسباب</span>
                            </div>
                            <h2>أحدث ما تسبب في جمعيتنا.</h2>
                            <p>
                                هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى
                                المقروء خارج الصفحة يلهي القارئ عن طريق النظر
                                إلى نقطة التخطيط الخاصة به.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <% for(let cause of causes) { %>

                            <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                                <div class="cause-item">
                                    <div class="cause-top">
                                        <div class="cause-img">
                                            <img
                                                src="<%= cause.image%>"
                                                alt=""
                                            />
                                            <div class="case-btn">
                                                <a
                                                    href="/donate"
                                                    class="theme-btn"
                                                    >تبرع الآن<i
                                                        class="
                                                            fa fa-angle-double-right
                                                        "
                                                        aria-hidden="true"
                                                    ></i
                                                ></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cause-text">
                                        <ul>
                                            <li>
                                                <a href="/causes-single/<%= cause._id%>">الهدف: <%= cause.goal%> دولار</a>
                                            </li>
                                            <li>
                                                <a href="/causes-single/<%= cause._id%>">ارتفع: <%= cause.value%> دولارًا</a>
                                            </li>
                                        </ul>
                                        <h3>
                                            <a href="/causes-single/<%= cause._id%>"><%= cause.title%></a>
                                        </h3>
                                        <p>
                                            <%= cause.sh_description%>
                                        </p>
                                    </div>
                                </div>
                            </div>

                        <% } %>
                    </div>
                </div>
            </div>
            <!-- case-area-end -->
            <!-- cta-area start -->
            <div class="cta-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-12 col-12">
                            <div class="cta-left">
                                <h2>
                                    إذا كنت تريد الانضمام إلينا كمتطوع. اتصل بنا
                                    اليوم!
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-6 col-lg-offset-1 col-md-12 col-12">
                            <div class="cta-wrap">
                                <div class="cta-call">
                                    <span>اتصل بنا!</span>
                                    <h3>00968469876</h3>
                                </div>
                                <div class="cta-call">
                                    <span>ارسل لنا عبر البريد الإلكتروني!</span>
                                    <h3>support@gmail.com</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- cta-area start -->
            <!-- event-area start -->
            <div class="event-area section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div
                                class="section-title section-title2 text-center"
                            >
                                <div class="thumb-text">
                                    <span>الأحداث</span>
                                </div>
                                <h2>أحداثنا القادمة</h2>
                                <p>
                                    هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى
                                    المقروء خارج الصفحة يلهي القارئ عن طريق
                                    النظر إلى نقطة التخطيط الخاصة به.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <% for(let event of events) { %>

                                <div class="event-item">
                                    <div class="event-img">
                                        <img
                                            src="<%= event.image%>"
                                            alt=""
                                        />
                                    </div>
                                    <div class="event-text">
                                        <div class="event-left">
                                            <div class="event-l-text">
                                                <span><%= event.date[1] %></span>
                                                <h4><%= event.date[0] %></h4>
                                            </div>
                                        </div>
                                        <div class="event-right">
                                            <ul>
                                                <li>
                                                    <i class="ti-location-pin"></i>
                                                    <%= event.time%>
                                                </li>
                                            </ul>
                                            <h2>
                                                <a href="/event-single/<%= event._id%>"><%= event.title%></a>
                                            </h2>
                                            <p>
                                                <%= event.sh_description%>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="shape1">
                    <img src="/images/event/1.png" alt="" />
                </div>
                <div class="shape2">
                    <img src="/images/event/2.png" alt="" />
                </div>
            </div>
            <!-- event-area start -->
            <!-- volunteer-area start -->
            <div class="volunteer-area section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div
                                class="section-title section-title2 text-center"
                            >
                                <div class="thumb-text">
                                    <span>تطوع</span>
                                </div>
                                <h2>متطوعنا العظيم</h2>
                                <p>
                                    هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى
                                    المقروء خارج الصفحة يلهي القارئ عن طريق
                                    النظر إلى نقطة التخطيط الخاصة به.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="volunteer-wrap">
                        <div class="row">
                            <div
                                class="col col-md-3 col-sm-6 custom-grid col-12"
                            >
                                <div class="volunteer-item">
                                    <div class="volunteer-img">
                                        <img
                                            src="/images/team/1.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="volunteer-content">
                                        <h2>
                                            <a href="/volunteer"
                                                >أدريان نيوباي</a
                                            >
                                        </h2>
                                        <span>تطوع</span>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="col col-md-3 col-sm-6 custom-grid col-12"
                            >
                                <div class="volunteer-item">
                                    <div class="volunteer-img">
                                        <img
                                            src="/images/team/2.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="volunteer-content">
                                        <h2>
                                            <a href="/volunteer"
                                                >ألين كاستانيدا</a
                                            >
                                        </h2>
                                        <span>تطوع</span>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="col col-md-3 col-sm-6 custom-grid col-12"
                            >
                                <div class="volunteer-item">
                                    <div class="volunteer-img">
                                        <img
                                            src="/images/team/3.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="volunteer-content">
                                        <h2>
                                            <a href="/volunteer"
                                                >ماليندا ويلوبي</a
                                            >
                                        </h2>
                                        <span>تطوع</span>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="col col-md-3 col-sm-6 custom-grid col-12"
                            >
                                <div class="volunteer-item">
                                    <div class="volunteer-img">
                                        <img
                                            src="/images/team/4.png"
                                            alt=""
                                        />
                                    </div>
                                    <div class="volunteer-content">
                                        <h2>
                                            <a href="/volunteer"
                                                >ويلبورن هاتفيلد</a
                                            >
                                        </h2>
                                        <span>تطوع</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- volunteer-area start -->
            <!-- blog-area start -->
            <div class="blog-area section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div
                                class="section-title section-title2 text-center"
                            >
                                <div class="thumb-text">
                                    <span>مدونة</span>
                                </div>
                                <h2>آخر أخبارنا</h2>
                                <p>
                                    هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى
                                    المقروء خارج الصفحة يلهي القارئ عن طريق
                                    النظر إلى نقطة التخطيط الخاصة به.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="blog-wrap">
                        <div class="row">
                            <div class="col col-md-6 col-12">
                                <div class="blog-item">
                                    <div class="blog-img">
                                        <img
                                            src="/images/blog/img-1.jpg"
                                            alt=""
                                        />
                                    </div>
                                    <div class="blog-content">
                                        <ul>
                                            <li>22 يونيو 2020</li>
                                            <li>
                                                <i
                                                    class="fa fa-heart"
                                                    aria-hidden="true"
                                                ></i
                                                >56
                                            </li>
                                            <li>
                                                <i
                                                    class="fa fa-comments-o"
                                                    aria-hidden="true"
                                                ></i>
                                                78
                                            </li>
                                        </ul>
                                        <h2>
                                            <a href="/"
                                                >فقط هذا ما نحتاج اليه من مجموعه</a
                                            >
                                        </h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-md-6 col-12">
                                <div class="blog-item">
                                    <div class="blog-content">
                                        <ul>
                                            <li>22 يونيو 2020</li>
                                            <li>
                                                <i
                                                    class="fa fa-heart"
                                                    aria-hidden="true"
                                                ></i
                                                >56
                                            </li>
                                            <li>
                                                <i
                                                    class="fa fa-comments-o"
                                                    aria-hidden="true"
                                                ></i>
                                                78
                                            </li>
                                        </ul>
                                        <h2>
                                            <a href="/"
                                                >نشرت أفضل وأقل قوائم الموردين
                                                الذي يحاتجونها.</a
                                            >
                                        </h2>
                                    </div>
                                    <div class="blog-img">
                                        <img
                                            src="/images/blog/img-2.jpg"
                                            alt=""
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col col-md-6 col-12">
                                <div class="blog-item">
                                    <div class="blog-content">
                                        <ul>
                                            <li>22 يونيو 2020</li>
                                            <li>
                                                <i
                                                    class="fa fa-heart"
                                                    aria-hidden="true"
                                                ></i
                                                >56
                                            </li>
                                            <li>
                                                <i
                                                    class="fa fa-comments-o"
                                                    aria-hidden="true"
                                                ></i>
                                                78
                                            </li>
                                        </ul>
                                        <h2>
                                            <a href="/"
                                                >افتتاح مجموعه من الزائرين للمرضي لنفسيتهم</a
                                            >
                                        </h2>
                                    </div>
                                    <div class="blog-img">
                                        <img
                                            src="/images/blog/img-3.jpg"
                                            alt=""
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="col col-md-6 col-12">
                                <div class="blog-item">
                                    <div class="blog-img">
                                        <img
                                            src="/images/blog/img-4.jpg"
                                            alt=""
                                        />
                                    </div>
                                    <div class="blog-content">
                                        <ul>
                                            <li>22 يونيو 2020</li>
                                            <li>
                                                <i
                                                    class="fa fa-heart"
                                                    aria-hidden="true"
                                                ></i
                                                >56
                                            </li>
                                            <li>
                                                <i
                                                    class="fa fa-comments-o"
                                                    aria-hidden="true"
                                                ></i>
                                                78
                                            </li>
                                        </ul>
                                        <h2>
                                            <a href="/"
                                                >مجموعه من النخبه لهم كامل الاحترام والتقدير</a
                                            >
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- blog-area start -->
            <!-- start partners-section -->
            <section class="partners-section section-padding">
                <h2 class="hidden">Partners</h2>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-xs-12" style="display: flex; justify-content: center; align-items:center">
                            <img src="/images/partners/1.png" alt="" />
                        </div>
                        <div class="col-md-3 col-xs-12" style="display: flex; justify-content: center; align-items:center">
                            <img src="/images/partners/2.png" alt="" />
                        </div>
                        <div class="col-md-3 col-xs-12" style="display: flex; justify-content: center; align-items:center">
                            <img src="/images/partners/3.png" alt="" />
                        </div>
                        <div class="col-md-3 col-xs-12" style="display: flex; justify-content: center; align-items:center">
                            <img src="/images/partners/4.png" alt="" />
                        </div>
                    </div>
                </div>
            </section>
            <!-- end partners-section -->
            <%- include('components/footer')%>
        </div>
        <!-- end of page-wrapper -->
        <!-- All JavaScript files
    ================================================== -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <!-- Plugins for this template -->
        <script src="/js/jquery-plugin-collection.js"></script>
        <!-- Custom script for this template -->
        <script src="/js/script.js"></script>
        <a href="#" class="back-to-top"
            ><i class="fa fa-angle-double-up"></i
        ></a>
    </body>
</html>
